<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WebRTC Call
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WebRTC Call</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Your Name</ion-label>
      <ion-input type="text" [(ngModel)]="userName" (ionChange)="updateUserName()"></ion-input>
    </ion-item>
    <p>Your User ID: <span *ngIf="userName">{{ userName }} (</span>{{ userId }}<span *ngIf="userName">)</span></p>

    <h2>Connected Users:</h2>
    <ion-list>
      <ion-item *ngFor="let user of connectedUsers">
        <ion-label>{{ user.name }} ({{ user.id }})</ion-label>
        <ion-button (click)="callUser(user.id)">Call</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
